---
import { actions } from "astro:actions";
import StreamTile from "./StreamTile.svelte";
import * as Pagination from "@/components/ui/pagination/index.js";
import ChevronLeft from "lucide-svelte/icons/chevron-left";
import ChevronRight from "lucide-svelte/icons/chevron-right";

const MAX_CAMERAS_PER_PAGE = 8;
const { data, error } = await Astro.callAction(actions.camera.getAll, []);
const cameraCount = data?.cameras.slice(0, MAX_CAMERAS_PER_PAGE).length || 0;
function getGridStyle(cameraCount: number) {
  switch (cameraCount) {
    case 1:
      return "grid-template-columns: repeat(1, 1fr); grid-template-rows: repeat(1, 1fr);";
    case 2:
      return "grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(1, 1fr);";
    case 3:
      return "grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(1, 1fr);";
    case 4:
      return "grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(2, 1fr);";
    case 5:
    case 6:
      return "grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(2, 1fr);";
    case 7:
    case 8:
    case 9:
    default:
      return "grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(3, 1fr);";
  }
}
const gridStyle = getGridStyle(cameraCount);
let currentPage = 0;
function nextPage() {
  if ((currentPage + 1) * MAX_CAMERAS_PER_PAGE < data?.cameras.length) {
    currentPage++;
  }
}
function goToPage(page: number) {
  currentPage = page - 1;
}

function prevPage() {
  if (currentPage > 0) {
    currentPage--;
  }
}
---

<>
  <div class="camera-grid" style={gridStyle + "height: calc(100vh - 7rem);"}>
    {
      data?.cameras
        .slice(0, MAX_CAMERAS_PER_PAGE)
        .map((camera) => (
          <StreamTile
            class="camera-placeholder"
            client:only="svelte"
            url={`wss://view.lenscorp.cloud/api/ws?src=${camera.id}`}
          />
        ))
    }
  </div>

  <!-- <Pagination.Root
    count={data?.cameras.length}
    perPage={MAX_CAMERAS_PER_PAGE}
    siblingCount={1}
  >
    <Pagination.Content class="mt-2">
      <Pagination.Item>
        <Pagination.PrevButton>
          <span class="hidden sm:block">Previous</span>
        </Pagination.PrevButton>
      </Pagination.Item>

      <Pagination.Item>
        <Pagination.NextButton
          on:click={nextPage}
          disabled={currentPage * MAX_CAMERAS_PER_PAGE >= data?.cameras.length}
        >
          <span class="hidden sm:block">Next</span>
        </Pagination.NextButton>
      </Pagination.Item>
    </Pagination.Content>
  </Pagination.Root> -->
</>
<style>
  .camera-grid {
    display: grid;
    gap: 1rem;
    height: 100vh; /* Fill available vertical space */
    width: 100vw; /* Fill available horizontal space */
    padding: 16px;
  }
</style>
