---

---

<div class="flex items-center space-x-1 justify-around">
  <img src="./images/Logo.svg" alt="TECH5 Logo" class="h-8 dark:hidden" />
  <img src="./images/LogoDark.png" alt="TECH5 Logo" class="h-8 dark:block hidden" />
</div>
