---
import StreamLayout from "@/components/live/streams/StreamLayout.svelte";
import Layout from "@/layouts/Layout.astro";
import LiveRightSection from "@/components/live/live-right-section.svelte";
import EventsManager from "@/managers/events.svelte";
import PersonCountManager from "@/managers/person-count.svelte";
import Camera from "@/managers/camera.svelte";
import Node from "@/managers/node.svelte";
import { personCount } from "@/stores";

console.log(personCount, "person count");
const STREAM_URL = import.meta.env.STREAM_URL;
---

<Layout title="TECH5">
  <Node client:only="svelte" />
  <Camera client:only="svelte" />
  <div class="flex flex-row">
    <EventsManager client:only="svelte" />
    <StreamLayout client:only="svelte" {STREAM_URL} />
    <PersonCountManager client:only="svelte" />
    <div class="">
      <LiveRightSection client:only="svelte" />
    </div>
  </div>
</Layout>
