---
import StreamLayout from "@/components/live/streams/StreamLayout.svelte";
import CameraList from "@/components/live/cameraList/CameraList.svelte";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="LENS View">
  <div class="flex flex-row">
    <StreamLayout client:only="svelte" />
    <CameraList client:only="svelte" />
  </div>
</Layout>
