---
import Layout from "@/layouts/Layout.astro";
import ReportsManager from "@/managers/reports.svelte";
---

<Layout title="TECH5">
  <div class="flex flex-row">
    <ReportsManager client:only="svelte"/>
  </div>
</Layout>
